# Python Crush Course

## Data Types

Temos muitas opções de variáveis em Python. Dentre elas:
- Inteiro (int);
- Ponto Flutuante ou decimal (float);
- Complexo (complex)
- String (str)
- Booleano (bool)
- Lista (list)
- Tupla (Tuple)
- Dicionário (dic)

Vamos analisar suas especificades a seguir:

### Inteiros (int)

In [24]:
# Os números inteiros são como os vistos na matemática: Podem ser positivos e negativos e não aceitam decimais. O próprio nome já ajuda na compreensão: INTEIRO.

a = 1
print(type(a))
b = -1
print(type(b))
c = 4//2
print(type(c)) # Para o retorno ser um INT a barra deve ser dupla. Se a barra for simples, o retorno não será 2 mas 2.0

# Eles São muitos utilizados na ciencia de dados para definir idades, número de parentes, número de carros, pessoas, variáveis categóricas e etc.

<class 'int'>
<class 'int'>
<class 'int'>

### Pontos Flutuantes (float)

In [25]:
# Os floats, por sua vez, apresentam números decimais em sua estutura.

a = 1.0 # Interessante observar que 'a' mesmo sendo 1.0, ainda é considerado float pois assume decimal.
print(type(a))
b = -1.9
print(type(b))
c = 4/2
print(type(c)) # Mesmo caso da célula anterior, mas agora com barra simples, denotando um retorno em float.

# Eles São muitos utilizados na ciencia de dados para definir pesos, alturas, temperaturas e etc.

<class 'float'>
<class 'float'>
<class 'float'>

### Complexos (complex)

In [26]:
# Os complex representam números complexos... Bem autoexplicativo não é mesmo??

a = 4+6j
print(type(a))
b = 34+8j
print(type(b))
c = 1+2j
print(type(c))

# Tambem pode ser utilziado usando a função complex, tal que, complex(real, imaginada):
print(complex(4,6))

# Eles São muitos utilizados em cálculos geométricos e científicos.

<class 'complex'>
<class 'complex'>
<class 'complex'>
(4+6j)

### Strings (str)

In [27]:
# As Strings servem para denotar caracteres em alguma ordem.

nome = 'Ramon'
sobrenome = 'Viana'
profissao = 'Cientista de Dados'

print(type(nome))
print(type(sobrenome))
print(type(profissao))

# Eles são utilizados para representar palavras, frases ou textos.

<class 'str'>
<class 'str'>
<class 'str'>

### Booleano (bool)

In [28]:
# Booleanos são dicotomicos em que possuem apenas dois valores: Verdadeiro (True) ou Falso (False).

segunda_feira = True
energia = False

print(type(segunda_feira))
print(type(energia))

# Eles são mutos utilizados em condições (if) [Cenas para um próximo capítulo...]:

<class 'bool'>
<class 'bool'>

### Listas (list)

In [29]:
# As listas são como uma grande sacola onde tudo é permitido. Podem conter: inteiros, floats, strings, outras listas e outros tipos.
# Para denotar listas os colchetes são utilizados:

idade = [34,25,33,12,56]
nome = ["João", "Maria", "Ricardo", "José", "Antônio", "Carla"]
altura = [1.67, 1.56, 1.78, 1.70, 1.89, 1.64]

print(type(idade))
print(type(nome))
print(type(altura))

<class 'list'>
<class 'list'>
<class 'list'>

In [30]:
# Para acessar os valores de uma lista temos que:
print(idade[0]) # -> Lembrando que o 0 equivale ao primeiro lugar na lista e não o 1.
print(altura[3])

# Para alterar os valores, temos que:
idade[0] = 30
altura[3] = 1.50
print('Nova idade:', idade[0])
print('Nova altura:', altura[3])

34
1.7
Nova idade: 30
Nova altura: 1.5

### Tuplas (tuple)

In [31]:
# Assim como as listas, as tuplas são como uma grande sacola onde tudo é permitido. No entanto, elas nao podem ser mudadas deposi de declaradas.
# Para denotar tuplas os parênteses são utilizados:

idade = (34,25,33,12,56, 17)
nome = ("João", "Maria", "Ricardo", "José", "Antônio", "Carla")
altura = (1.67, 1.56, 1.78, 1.70, 1.89, 1.64)

print(type(idade))
print(type(nome))
print(type(altura))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

### Dicionários (dict)

In [32]:
# Dicionários funcionam na lógica (chave -> valor), tal como o próprio nome tenta explicar (palavra -> significado)
# Para denotar dcionários as chaves são utilizados:

idade = {'João': 34,'Maria': 25,'Ricardo': 33,'José': 12,'Antônio': 56,'Carla': 17}
altura = {'João': 1.67, 'Maria': 1.56, 'Ricardo': 1.78, 'José': 1.70, 'Antônio': 56, 'Carla': 1.64}

print(type(idade))
print(type(altura))

<class 'dict'>
<class 'dict'>

In [33]:
# Para acessar os valores de um dicionario temos que:
print(idade['João'])
print(altura['Ricardo'])

# Para alterar os valores, temos que:
idade['João'] = 30
altura['Ricardo'] = 1.50
print('Nova idade:', idade['João'])
print('Nova altura:', altura['Ricardo'])

34
1.78
Nova idade: 30
Nova altura: 1.5